@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

body {
    width: 1550px;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

h2 {
    
}

ul {
    list-style-type: none;
    padding: 0;
}
    
   